### Data Cleaning

In [14]:
# Load the DataFrame
import pandas as pd 
colleges_df = pd.read_csv('/Users/christianmoya/Documents/Flatiron/Phase_3/Phase_3_Project/colleges.csv')
colleges_df.drop(columns=['Unnamed: 0'], inplace=True, axis=1)
colleges_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1558 entries, 0 to 1557
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   school_name                           1558 non-null   object
 1   early_career_pay                      1558 non-null   int64
 2   mid_career_pay                        1558 non-null   int64
 3   meaning_percentage                    1558 non-null   int64
 4   stem_percentage                       1558 non-null   int64
 5   engineering                           1558 non-null   bool
 6   private_school                        1558 non-null   bool
 7   religious                             1558 non-null   bool
 8   art                                   1558 non-null   bool
 9   for_sports_fans                       1558 non-null   bool
 10  party_school                          1558 non-null   bool
 11  liberal_arts_school                   1558 non-null   bool
 12  state_school                          1558 non-null   bool
 13  research_university                   1558 non-null   bool
 14  business                              1558 non-null   bool
 15  sober_school                          1558 non-null   bool
 16  ivy_league                            1558 non-null   bool
 17  state_code                            1201 non-null   object
 18  type                                  1201 non-null   object
 19  degree_length                         1201 non-null   object
 20  room_and_board                        1125 non-null   float64
 21  in_state_tuition                      1201 non-null   float64
 22  in_state_total                        1201 non-null   float64
 23  out_of_state_tuition                  1201 non-null   float64
 24  out_of_state_total                    1201 non-null   float64
 25  total_enrollment                      1058 non-null   float64
 26  AIAN_enrollment_percentage            1058 non-null   float64
 27  Asian_enrollment_percentage           1058 non-null   float64
 28  Black_enrollment_percentage           1058 non-null   float64
 29  Hispanic_enrollment_percentage        1058 non-null   float64
 30  NHPI_enrollment_percentage            1058 non-null   float64
 31  non_resident_enrollment_percentage    1058 non-null   float64
 32  total_minority_enrollment_percentage  1058 non-null   float64
 33  unknown_enrollment_percentage         1058 non-null   float64
 34  White_enrollment_percentage           1058 non-null   float64
 35  women_enrollment_percentage           1058 non-null   float64
 36  school_rank                           1558 non-null   object
dtypes: bool(12), float64(16), int64(4), object(5)
memory usage: 322.7+ KB

### Dealing with Null Values 

We find null values often where the DataFrames did not match, about 500 missing values for enrollment data, and about 300 missing values for tuition data. Room and board has about 400 missing values, but that data is also integrated into total tuition costs, so we'll get rid of that column. Since enrollment doesn't follow a normal distribution, I'm going to fill the null values with the median for each.

In [15]:
# Drop unnecessary columns 
colleges_df.drop(columns=['school_name', 'mid_career_pay', 'room_and_board'], inplace=True)

In [16]:
# Fill in missing enrollment data 
enrollment = ['total_enrollment', 'AIAN_enrollment_percentage', 'Asian_enrollment_percentage', 'Black_enrollment_percentage','Hispanic_enrollment_percentage', 'NHPI_enrollment_percentage', 'non_resident_enrollment_percentage', 'total_minority_enrollment_percentage', 'unknown_enrollment_percentage', 'White_enrollment_percentage', 'women_enrollment_percentage']
for enroll in enrollment:
    colleges_df[enroll].fillna(colleges_df[enroll].median(), inplace=True)
    
colleges_df = colleges_df.dropna()

# Finalize model, engineer target value
colleges_df['over_60000'] = colleges_df['early_career_pay'] >= 60000
colleges_df['over_60000'] = colleges_df['over_60000'].astype(str)
colleges_df.drop(columns=['early_career_pay'], inplace=True)
colleges_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1557
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   meaning_percentage                    1201 non-null   int64
 1   stem_percentage                       1201 non-null   int64
 2   engineering                           1201 non-null   bool
 3   private_school                        1201 non-null   bool
 4   religious                             1201 non-null   bool
 5   art                                   1201 non-null   bool
 6   for_sports_fans                       1201 non-null   bool
 7   party_school                          1201 non-null   bool
 8   liberal_arts_school                   1201 non-null   bool
 9   state_school                          1201 non-null   bool
 10  research_university                   1201 non-null   bool
 11  business                              1201 non-null   bool
 12  sober_school                          1201 non-null   bool
 13  ivy_league                            1201 non-null   bool
 14  state_code                            1201 non-null   object
 15  type                                  1201 non-null   object
 16  degree_length                         1201 non-null   object
 17  in_state_tuition                      1201 non-null   float64
 18  in_state_total                        1201 non-null   float64
 19  out_of_state_tuition                  1201 non-null   float64
 20  out_of_state_total                    1201 non-null   float64
 21  total_enrollment                      1201 non-null   float64
 22  AIAN_enrollment_percentage            1201 non-null   float64
 23  Asian_enrollment_percentage           1201 non-null   float64
 24  Black_enrollment_percentage           1201 non-null   float64
 25  Hispanic_enrollment_percentage        1201 non-null   float64
 26  NHPI_enrollment_percentage            1201 non-null   float64
 27  non_resident_enrollment_percentage    1201 non-null   float64
 28  total_minority_enrollment_percentage  1201 non-null   float64
 29  unknown_enrollment_percentage         1201 non-null   float64
 30  White_enrollment_percentage           1201 non-null   float64
 31  women_enrollment_percentage           1201 non-null   float64
 32  school_rank                           1201 non-null   object
 33  over_60000                            1201 non-null   object
dtypes: bool(12), float64(15), int64(2), object(5)
memory usage: 229.9+ KB

### Baseline Logistic Regression Model with Scikit Learn

In [19]:
# import necessary libraries
import statsmodels as sm 
import sklearn.preprocessing as preprocessing 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from scipy import stats

X = colleges_df.drop(columns=['over_60000'], axis=1)
X = pd.get_dummies(X, drop_first=True, dtype=float)

y = pd.get_dummies(colleges_df['over_60000'], drop_first=True, dtype=float)
y = y['True']

In [32]:
bool_columns = ['engineering', 'private_school', 'religious', 'art', 'for_sports_fans', 'party_school', 'liberal_arts_school', 'state_school', 'research_university', 'business', 'sober_school', 'ivy_league']
X[bool_columns] = X[bool_columns].astype(float)

In [33]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1557
Data columns (total 90 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   const                                 1201 non-null   float64
 1   meaning_percentage                    1201 non-null   int64
 2   stem_percentage                       1201 non-null   int64
 3   engineering                           1201 non-null   float64
 4   private_school                        1201 non-null   float64
 5   religious                             1201 non-null   float64
 6   art                                   1201 non-null   float64
 7   for_sports_fans                       1201 non-null   float64
 8   party_school                          1201 non-null   float64
 9   liberal_arts_school                   1201 non-null   float64
 10  state_school                          1201 non-null   float64
 11  research_university                   1201 non-null   float64
 12  business                              1201 non-null   float64
 13  sober_school                          1201 non-null   float64
 14  ivy_league                            1201 non-null   float64
 15  in_state_tuition                      1201 non-null   float64
 16  in_state_total                        1201 non-null   float64
 17  out_of_state_tuition                  1201 non-null   float64
 18  out_of_state_total                    1201 non-null   float64
 19  total_enrollment                      1201 non-null   float64
 20  AIAN_enrollment_percentage            1201 non-null   float64
 21  Asian_enrollment_percentage           1201 non-null   float64
 22  Black_enrollment_percentage           1201 non-null   float64
 23  Hispanic_enrollment_percentage        1201 non-null   float64
 24  NHPI_enrollment_percentage            1201 non-null   float64
 25  non_resident_enrollment_percentage    1201 non-null   float64
 26  total_minority_enrollment_percentage  1201 non-null   float64
 27  unknown_enrollment_percentage         1201 non-null   float64
 28  White_enrollment_percentage           1201 non-null   float64
 29  women_enrollment_percentage           1201 non-null   float64
 30  state_code_AL                         1201 non-null   float64
 31  state_code_AR                         1201 non-null   float64
 32  state_code_AZ                         1201 non-null   float64
 33  state_code_CA                         1201 non-null   float64
 34  state_code_CO                         1201 non-null   float64
 35  state_code_CT                         1201 non-null   float64
 36  state_code_DC                         1201 non-null   float64
 37  state_code_DE                         1201 non-null   float64
 38  state_code_FL                         1201 non-null   float64
 39  state_code_GA                         1201 non-null   float64
 40  state_code_HI                         1201 non-null   float64
 41  state_code_IA                         1201 non-null   float64
 42  state_code_ID                         1201 non-null   float64
 43  state_code_IL                         1201 non-null   float64
 44  state_code_IN                         1201 non-null   float64
 45  state_code_KS                         1201 non-null   float64
 46  state_code_KY                         1201 non-null   float64
 47  state_code_LA                         1201 non-null   float64
 48  state_code_MA                         1201 non-null   float64
 49  state_code_MD                         1201 non-null   float64
 50  state_code_ME                         1201 non-null   float64
 51  state_code_MI                         1201 non-null   float64
 52  state_code_MN                         1201 non-null   float64
 53  state_code_MO                         1201 non-null   float64
 54  state_code_MS                         1201 non-null   float64
 55  state_code_MT                         1201 non-null   float64
 56  state_code_NC                         1201 non-null   float64
 57  state_code_ND                         1201 non-null   float64
 58  state_code_NE                         1201 non-null   float64
 59  state_code_NH                         1201 non-null   float64
 60  state_code_NJ                         1201 non-null   float64
 61  state_code_NM                         1201 non-null   float64
 62  state_code_NV                         1201 non-null   float64
 63  state_code_NY                         1201 non-null   float64
 64  state_code_OH                         1201 non-null   float64
 65  state_code_OK                         1201 non-null   float64
 66  state_code_OR                         1201 non-null   float64
 67  state_code_PA                         1201 non-null   float64
 68  state_code_PR                         1201 non-null   float64
 69  state_code_RI                         1201 non-null   float64
 70  state_code_SC                         1201 non-null   float64
 71  state_code_SD                         1201 non-null   float64
 72  state_code_TN                         1201 non-null   float64
 73  state_code_TX                         1201 non-null   float64
 74  state_code_UT                         1201 non-null   float64
 75  state_code_VA                         1201 non-null   float64
 76  state_code_VI                         1201 non-null   float64
 77  state_code_VT                         1201 non-null   float64
 78  state_code_WA                         1201 non-null   float64
 79  state_code_WI                         1201 non-null   float64
 80  state_code_WV                         1201 non-null   float64
 81  state_code_WY                         1201 non-null   float64
 82  type_Private                          1201 non-null   float64
 83  type_Public                           1201 non-null   float64
 84  degree_length_4 Year                  1201 non-null   float64
 85  school_rank_top_100                   1201 non-null   float64
 86  school_rank_top_150                   1201 non-null   float64
 87  school_rank_top_200                   1201 non-null   float64
 88  school_rank_top_250                   1201 non-null   float64
 89  school_rank_top_50                    1201 non-null   float64
dtypes: float64(88), int64(2)
memory usage: 853.8 KB

In [34]:
X = sm.tools.add_constant(X)
logit_model = sm.discrete.discrete_model.Logit(y, X)
result = logit_model.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

/opt/anaconda3/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1747: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/opt/anaconda3/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1800: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

LinAlgError: Singular matrix

In [30]:
npl

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1557
Data columns (total 90 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   const                                 1201 non-null   float64
 1   meaning_percentage                    1201 non-null   int64
 2   stem_percentage                       1201 non-null   int64
 3   engineering                           1201 non-null   bool
 4   private_school                        1201 non-null   bool
 5   religious                             1201 non-null   bool
 6   art                                   1201 non-null   bool
 7   for_sports_fans                       1201 non-null   bool
 8   party_school                          1201 non-null   bool
 9   liberal_arts_school                   1201 non-null   bool
 10  state_school                          1201 non-null   bool
 11  research_university                   1201 non-null   bool
 12  business                              1201 non-null   bool
 13  sober_school                          1201 non-null   bool
 14  ivy_league                            1201 non-null   bool
 15  in_state_tuition                      1201 non-null   float64
 16  in_state_total                        1201 non-null   float64
 17  out_of_state_tuition                  1201 non-null   float64
 18  out_of_state_total                    1201 non-null   float64
 19  total_enrollment                      1201 non-null   float64
 20  AIAN_enrollment_percentage            1201 non-null   float64
 21  Asian_enrollment_percentage           1201 non-null   float64
 22  Black_enrollment_percentage           1201 non-null   float64
 23  Hispanic_enrollment_percentage        1201 non-null   float64
 24  NHPI_enrollment_percentage            1201 non-null   float64
 25  non_resident_enrollment_percentage    1201 non-null   float64
 26  total_minority_enrollment_percentage  1201 non-null   float64
 27  unknown_enrollment_percentage         1201 non-null   float64
 28  White_enrollment_percentage           1201 non-null   float64
 29  women_enrollment_percentage           1201 non-null   float64
 30  state_code_AL                         1201 non-null   float64
 31  state_code_AR                         1201 non-null   float64
 32  state_code_AZ                         1201 non-null   float64
 33  state_code_CA                         1201 non-null   float64
 34  state_code_CO                         1201 non-null   float64
 35  state_code_CT                         1201 non-null   float64
 36  state_code_DC                         1201 non-null   float64
 37  state_code_DE                         1201 non-null   float64
 38  state_code_FL                         1201 non-null   float64
 39  state_code_GA                         1201 non-null   float64
 40  state_code_HI                         1201 non-null   float64
 41  state_code_IA                         1201 non-null   float64
 42  state_code_ID                         1201 non-null   float64
 43  state_code_IL                         1201 non-null   float64
 44  state_code_IN                         1201 non-null   float64
 45  state_code_KS                         1201 non-null   float64
 46  state_code_KY                         1201 non-null   float64
 47  state_code_LA                         1201 non-null   float64
 48  state_code_MA                         1201 non-null   float64
 49  state_code_MD                         1201 non-null   float64
 50  state_code_ME                         1201 non-null   float64
 51  state_code_MI                         1201 non-null   float64
 52  state_code_MN                         1201 non-null   float64
 53  state_code_MO                         1201 non-null   float64
 54  state_code_MS                         1201 non-null   float64
 55  state_code_MT                         1201 non-null   float64
 56  state_code_NC                         1201 non-null   float64
 57  state_code_ND                         1201 non-null   float64
 58  state_code_NE                         1201 non-null   float64
 59  state_code_NH                         1201 non-null   float64
 60  state_code_NJ                         1201 non-null   float64
 61  state_code_NM                         1201 non-null   float64
 62  state_code_NV                         1201 non-null   float64
 63  state_code_NY                         1201 non-null   float64
 64  state_code_OH                         1201 non-null   float64
 65  state_code_OK                         1201 non-null   float64
 66  state_code_OR                         1201 non-null   float64
 67  state_code_PA                         1201 non-null   float64
 68  state_code_PR                         1201 non-null   float64
 69  state_code_RI                         1201 non-null   float64
 70  state_code_SC                         1201 non-null   float64
 71  state_code_SD                         1201 non-null   float64
 72  state_code_TN                         1201 non-null   float64
 73  state_code_TX                         1201 non-null   float64
 74  state_code_UT                         1201 non-null   float64
 75  state_code_VA                         1201 non-null   float64
 76  state_code_VI                         1201 non-null   float64
 77  state_code_VT                         1201 non-null   float64
 78  state_code_WA                         1201 non-null   float64
 79  state_code_WI                         1201 non-null   float64
 80  state_code_WV                         1201 non-null   float64
 81  state_code_WY                         1201 non-null   float64
 82  type_Private                          1201 non-null   float64
 83  type_Public                           1201 non-null   float64
 84  degree_length_4 Year                  1201 non-null   float64
 85  school_rank_top_100                   1201 non-null   float64
 86  school_rank_top_150                   1201 non-null   float64
 87  school_rank_top_200                   1201 non-null   float64
 88  school_rank_top_250                   1201 non-null   float64
 89  school_rank_top_50                    1201 non-null   float64
dtypes: bool(12), float64(76), int64(2)
memory usage: 755.3 KB

In [28]:
np.asarray(y)

array([1., 1., 1., ..., 0., 0., 0.])

### Building a Model with Statsmodel

In [4]:
# import library
import statsmodels.api as sm
import numpy as np

X = colleges_df['over_60000']
X_ = sm.add_constant(X)
y = colleges_df.drop(columns=[''])

# Change booleans into categorical values
#school_types = ['engineering', 'private_school', 'religious', 'art', 'for_sports_fans', 'party_school', 'liberal_arts_school', 'state_school' , 'research_university', 'business', 'sober_school', 'ivy_league']
#colleges_df[school_types] = colleges_df[school_types].astype(int)

# Prepare data for model  
#continuous = ['meaning_percentage', 'stem_percentage', 'in_state_tuition', 'in_state_total', 'out_of_state_tuition', 'out_of_state_total', 'total_enrollment', 'AIAN_enrollment_percentage', 'Asian_enrollment_percentage', 'Black_enrollment_percentage', 'Hispanic_enrollment_percentage', 'NHPI_enrollment_percentage', 'non_resident_enrollment_percentage', 'unknown_enrollment_percentage', 'White_enrollment_percentage', 'women_enrollment_percentage']
#categoricals = ['engineering', 'private_school', 'religious', 'art', 'for_sports_fans', 'party_school', 'liberal_arts_school', 'state_school', 'research_university', 'business', 'sober_school', 'ivy_league', 'state_code', 'type', 'degree_length', 'school_rank']



# normalize (subract mean and divide by std)


colleges_log_norm = colleges_log.apply(normalize)

NameError: name 'colleges_log' is not defined

In [6]:
colleges_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1557
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   meaning_percentage                    1201 non-null   int64
 1   stem_percentage                       1201 non-null   int64
 2   engineering                           1201 non-null   int64
 3   private_school                        1201 non-null   int64
 4   religious                             1201 non-null   int64
 5   art                                   1201 non-null   int64
 6   for_sports_fans                       1201 non-null   int64
 7   party_school                          1201 non-null   int64
 8   liberal_arts_school                   1201 non-null   int64
 9   state_school                          1201 non-null   int64
 10  research_university                   1201 non-null   int64
 11  business                              1201 non-null   int64
 12  sober_school                          1201 non-null   int64
 13  ivy_league                            1201 non-null   int64
 14  state_code                            1201 non-null   object
 15  type                                  1201 non-null   object
 16  degree_length                         1201 non-null   object
 17  in_state_tuition                      1201 non-null   float64
 18  in_state_total                        1201 non-null   float64
 19  out_of_state_tuition                  1201 non-null   float64
 20  out_of_state_total                    1201 non-null   float64
 21  total_enrollment                      1201 non-null   float64
 22  AIAN_enrollment_percentage            1201 non-null   float64
 23  Asian_enrollment_percentage           1201 non-null   float64
 24  Black_enrollment_percentage           1201 non-null   float64
 25  Hispanic_enrollment_percentage        1201 non-null   float64
 26  NHPI_enrollment_percentage            1201 non-null   float64
 27  non_resident_enrollment_percentage    1201 non-null   float64
 28  total_minority_enrollment_percentage  1201 non-null   float64
 29  unknown_enrollment_percentage         1201 non-null   float64
 30  White_enrollment_percentage           1201 non-null   float64
 31  women_enrollment_percentage           1201 non-null   float64
 32  school_rank                           1201 non-null   object
 33  over_60000                            1201 non-null   bool
dtypes: bool(1), float64(15), int64(14), object(4)
memory usage: 320.2+ KB

In [ ]:
# Categorical Variable 
colleges_ohe = pd.get_dummies(colleges_df[categoricals], prefix=categoricals, drop_first=True)

In [ ]:
colleges_ohe

In [ ]:
colleges_df['over_60000'] = colleges_df['over_60000'].astype(int)

In [ ]:
preprocessed_colleges = pd.concat([colleges_log_norm, colleges_ohe])
preprocessed_colleges.info()

In [ ]:
X_train = colleges_ohe 
y_train = colleges_df['over_60000']

log_reg = sm.Logit(y_train, X_train).fit()